<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.frankun.dao.UserMapper">

    <sql id="userColumns">
        a.guid AS "guid",
        a.create_time AS "createTime",
        a.archived AS "archived",
        a.email AS "email",
        a.password AS "password",
        a.phone AS "phone",
        a.username AS "username",
        a.default_user AS "defaultUser",
        a.last_login_time AS "lastLoginTime"
    </sql>

    <select id="findByUsername" parameterType="String" resultType="com.frankun.domain.user.User">
        SELECT
            <include refid="userColumns"/>
        FROM user_
        WHERE username = #{username}
    </select>

    <select id="searchUserByUsername" parameterType="String" resultType="com.frankun.domain.user.User">
        SELECT
        <include refid="userColumns"/>
        FROM user_ a
        WHERE 1=1
          <if test="username != null and username != ''">
              AND a.username LIKE concat('%',#{username},'%')
          </if>
    </select>

    <insert id="saveUser" parameterType="com.frankun.domain.user.User">
        INSERT INTO user_ a
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                a.guid,
            </if>
            <if test="createTime != null">
                a.create_time,
            </if>
            <if test="archived != null">
                a.archived,
            </if>
            <if test="email != null">
                a.email,
            </if>
            <if test="password != null">
                a.password,
            </if>
            <if test="phone != null">
                a.phone,
            </if>
            <if test="username != null">
                a.username,
            </if>
            <if test="defaultUser != null">
                a.default_user,
            </if>
            <if test="lastLoginTime != null">
                a.last_login_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="guid != null">
                #{guid,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{create_time},
            </if>
            <if test="archived != null">
                #{archived,jdbcType=TINYINT},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="defaultUser != null">
                #{defaultUser,jdbcType=TINYINT},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=DATETIME},
            </if>
        </trim>
    </insert>
    
</mapper>